<div class="auth-layout-container">
    <div class="header">
        <div class="left-header">
        </div>
        <div class="center-header">
            <a routerLink="/">
              <img src="{{ logoUrl }}" style="width: 40px; height: 40px">
              <h4>Tes<b>Sera</b></h4>
            </a>
        </div>
        <div class="right-header"></div>
    </div>

    <div class="auth-layout-form">
        <div>
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
